/* Typography */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/muli/Muli-Regular.woff2'),
    url('./assets/fonts/muli/Muli-Regular.woff'),
    url('./assets/fonts/muli/Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/muli/Muli-Bold.woff2'),
    url('./assets/fonts/muli/Muli-Bold.woff'),
    url('./assets/fonts/muli/Muli-Bold.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/muli/Muli-Black.woff2'),
    url('./assets/fonts/muli/Muli-Black.woff'),
    url('./assets/fonts/muli/Muli-Black.ttf');
}

:root {
  /* Colorbook */
  --color-charcoal-021: #283342;
  --color-charcoal-046: #73767a;
  --color-white: #fff;
  --color-alarm-049: #ec110d;
  --color-slate-blue-050: #4878b8;

  /* Typography */
  --font-family-sans: 'Muli', sans-serif;

  /* Font Weights */
  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 900;

  /* Design elements */
  --transition: 300ms ease-in-out;
  --border-radius-default: 0.25rem;
  --border-radius-large: 0.5rem;
}

/* Reset */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-sans);
  background-color: var(--color-white);
}

/* Type Specs */
.t-brand {
  font-family: var(--font-family-sans);
  font-size: 1.5rem;
  font-weight: var(--weight-black);
  line-height: 1;
}

.t-copy-large {
  font-family: var(--font-family-sans);
  font-size: 1rem;
  font-weight: var(--weight-bold);
  line-height: 1;
}

.t-link {
  font-family: var(--font-family-sans);
  font-size: 1rem;
  font-weight: var(--weight-bold);
  line-height: 1;
  color: var(--color-charcoal-021);
  transition: var(--transition) color, var(--transition) outline-color;
  outline: 0.25rem solid transparent;
  outline-offset: 0.125rem;
}
.t-link:hover {
  color: var(--color-charcoal-046);
}
.t-link:focus {
  outline-color: var(--color-slate-blue-050);
}

.t-body {
  font-family: var(--font-family-sans);
  font-size: 0.875rem;
  font-weight: var(--weight-regular);
  line-height: 1.286;
}

/* Screen Reader Only */
.screen-reader-only {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  border: 0;
}

/* Buttons */
.button-icon {
  padding: 0;
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-charcoal-021);
  background-color: transparent;
  border: none;
  transition: var(--transition) color, var(--transition) outline-color;
  outline: 0.25rem solid transparent;
}
.button-icon:hover {
  color: var(--color-charcoal-046);
  cursor: pointer;
}
.button-icon:hover .button-icon__icon {
  fill: var(--color-charcoal-046);
}
.button-icon::-moz-focus-inner {
  border: none;
}
.button-icon:focus {
  outline-color: var(--color-slate-blue-050);
}

.button-icon__icon {
  fill: var(--color-charcoal-021);
  transition: var(--transition) fill;
}

/* Header */
.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 40px 0px;
}
@media (max-width: 74.9375rem) {
  .header {
    margin-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    min-height: 4rem;
  }
}
@media (min-width: 75rem) {
  .header {
    margin-bottom: 4rem;
    padding-right: 8rem;
    padding-left: 8rem;
    min-height: 8rem;
  }
}

/* Brand */
.brand {
  color: var(--color-charcoal-021);
  text-decoration: none;
  transition: var(--transition) color, var(--transition) outline-color;
  outline: 0.25rem solid transparent;
  outline-offset: 0.125rem;
}
.brand:hover {
  color: var(--color-charcoal-046);
}
.brand:focus {
  outline-color: var(--color-slate-blue-050);
}

/* Search */
.search-trigger:focus {
  outline-offset: -0.25rem;
}

.search {
  display: none;
}
.search--is-open {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 35.9375rem) {
  .search--is-open {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 36rem) and (max-width: 56.1875rem) {
  .search--is-open {
    width: 17.5rem;
  }
}
@media (min-width: 56.25rem) and (max-width: 74.9375rem) {
  .search--is-open {
    width: 35.625rem;
  }
}
@media (min-width: 75rem) {
  .search--is-open {
    width: 41.0625rem;
  }
}

.search__input {
  padding-right: 4rem;
  padding-left: 0.5rem;
  width: 100%;
  height: 3rem;
  color: var(--color-charcoal-021);
  border: none;
  border-bottom: 0.125rem solid var(--color-charcoal-021);
  transition: var(--transition) border-bottom-color;
}
.search__input::placeholder {
  color: var(--color-charcoal-046);
}
.search__input::-webkit-input-placeholder {
  color: var(--color-charcoal-046);
}
.search__input::-moz-placeholder {
  color: var(--color-charcoal-046);
}
.search__input:-ms-input-placeholder {
  color: var(--color-charcoal-046);
}
.search__input:-moz-placeholder {
  color: var(--color-charcoal-046);
}
.search__input:focus {
  outline: none;
  border-bottom-color: var(--color-slate-blue-050);
  border-width: 0.25rem;
  transform: translateY(0.0625rem);
}

.search__submit {
  position: absolute;
  top: 0;
  right: 0;
}
.search__submit:focus {
  outline-offset: -0.25rem;
}

.search__close {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition) opacity;
}
.search__close:focus {
  display: block;
  pointer-events: auto;
  opacity: 1;
  outline-offset: -0.25rem;
}
.search__close::before {
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
}

.search__close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Center Nav */
.header__center {
  display: flex;
  align-items: center;
}

@media (max-width: 56.1875rem) {
  .center-nav {
    display: none;
  }
}

.center-nav__items {
  margin: 0;
  padding: 0;
  display: flex;
}
@media (min-width: 56.25rem) and (max-width: 74.9375rem) {
  .center-nav__items {
    margin-left: 4rem;
  }
}
@media (min-width: 75rem) {
  .center-nav__items {
    margin-left: 8rem;
  }
}

.center-nav__item {
  list-style: none;
}
.center-nav__item:not(:first-child) {
  margin-left: 2rem;
}

/* Menu */
.menu-trigger:focus {
  outline-offset: 0.125rem;
}

@media (max-width: 35.9375rem) {
  .menu-trigger__icon--small {
    margin-left: 0.5rem;
  }

  .menu-trigger__icon--large {
    display: none;
  }
}
@media (min-width: 36rem) {
  .menu-trigger__icon--small {
    display: none;
  }

  .menu-trigger__icon--large {
    margin-left: 1rem;
  }
}
